<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" csorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crosorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" sorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <canvas id="catGraph" height="100", width="300"></canvas>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-7">
                <img id="image" src="" alt="test" height="300">
            </div>
            <div class="col-5">
                <select id="catMenu">
                </select>
            </div>
            </div> 

        <audio id="catVoice" autoplay="true" src="https://html.com/wp-content/uploads/flamingos.mp3" controls />
    </div>
</body>

<script>

    $(document).ready(function () {
        $.ajax({
            url: "https://api.thecatapi.com/v1/breeds",
            context: document.body,
            headers: {
                "x-api-key": "3a21310d-ff0d-49f0-9c77-1cff25a3da71"
            }, success: (resp) => {
                var canvas = document.getElementById('catGraph');
                var ctx = canvas.getContext('2d');

                var graphObj = {
                    type: "bar",
                    data: {
                        labels: [],
                        datasets: [],
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                };

                var affection = {
                    label: "Affection Level",
                    data: [],
                    backgroundColor: [],
                    borderWidth: 1
                }

                var intelligence = {
                    label: "Intelligence",
                    data: [],
                    backgroundColor: [],
                    borderWidth: 1
                }

                resp.forEach(element => {
                    var div_data = "<option value=" + element.id + ">" + element.name + "</option>";
                    $(div_data).appendTo('#catMenu');

                    graphObj.data.labels.push(element.name);

                    affection.data.push(element.affection_level);
                    affection.backgroundColor.push('rgba(255, 159, 64, 1)');
                    intelligence.data.push(element.intelligence);
                    intelligence.backgroundColor.push('rgba(153, 102, 255, 1)');
                });

                graphObj.data.datasets.push(affection);
                graphObj.data.datasets.push(intelligence);

                $.getJSON("https://api.thecatapi.com/v1/images/search?breed_id=" + resp[0].id, (resp) => {
                    $("#image").attr("src", resp[0]["url"]);
                });

                var chart = new Chart(ctx, graphObj);
            }
        });
    });

    $("#catMenu").change(() => {
        var data = $("#catMenu").val();

        $.getJSON("https://api.thecatapi.com/v1/images/search?breed_id=" + data, (resp) => {
            $("#image").attr("src", resp[0]["url"]);
   
        });

        var settings = {
            "url": "https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/badf5a23-db78-40ae-a451-d5734f0f0a24/v1/synthesize",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Accept": "audio/wav",
                "Authorization": "Basic YXBpa2V5OjFPS1FvZWlkWXpmNG41amFMTG1oTTFMc3ZhcVhCSGNyQjJIS2V0TEN2aXU4",
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({ "text": $("#catMenu :selected").text() }),
        };

        //[12:44] Megan Humphreys
        //xhr.open('POST', encodeURI(url), true);
        //xhr.setRequestHeader('Content-Type', 'application/json');
        //xhr.responseType = 'blob';
        //xhr.onload = function(evt) {​​
        //    var blob = new Blob([xhr.response], {​​type: 'audio/ogg'}​​);
        //    var objectUrl = URL.createObjectURL(blob);
        //    audio.src = objectUrl;
        //    // Release resource when it's loaded
        //    audio.onload = function(evt) {​​
        //        URL.revokeObjectURL(objectUrl);
        //    }​​;
        //    audio.play();
        //}​​;
        //var data = JSON.stringify({​​text: yourTextToSynthesize}​​);
        //xhr.send(data);


        $.ajax(settings).done(function (response) {
            var blob = new Blob([response], { type: 'audio/wav' });
            var objectUrl = URL.createObjectURL(blob);

            $("#catVoice").load(objectUrl);
            $("#catVoice").start();
        });

    });
</script>

</html>