@{
    ViewData["Title"] = "Home Page";
}
@model DisplayModel

<div class="text-center">
    <div> @Model.Url </div>
    <div> @Model.Response.StatusCode</div>
    <div> @Model.Response.ContentEncoding</div>
    <div> @Model.Response.Content</div>

</div>
